

{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.hero{
    height:100vh;

    background-image:url("https://files.catbox.moe/srtn1q.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    position:relative;
}


nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(15,12,8,0.55);
    backdrop-filter:blur(4px);
}

.logo{
    height:70px;
    width:auto;
}

nav ul{
    display:flex;
    list-style:none;
    align-items:center;
    gap:20px;
}

nav a{
    text-decoration:none;
    color:#d8b24a;

    font-size:clamp(1.1rem,2vw,2rem);
    font-weight:bold;

    transition:0.3s;
}

nav a:hover{
    color:#ffcc53;
}


.content{
    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%, -50%);

    width:90%;
    max-width:1000px;

    text-align:center;
}


.content h1{
    color:#f3c542;

    font-size:clamp(3rem, 12vw, 9rem);

    line-height:1;

    margin-bottom:40px;

    text-shadow:
    2px 2px 8px rgba(0,0,0,0.5);
}


.group{
    position:relative;

    width:100%;
    max-width:900px;

    margin:auto;
}

.input{
    width:100%;
    height:65px;

    border:none;
    outline:none;

    border-radius:10px;

    background:#d9ae27;

    padding-left:55px;

    font-size:1.2rem;
}

.input::placeholder{
    color:black;
}

.input:hover,
.input:focus{
    background:#f3c542;
}

.icon{
    position:absolute;

    left:18px;
    top:50%;

    transform:translateY(-50%);

    width:22px;
    height:22px;

    fill:white;
}


@media (max-width:768px){

    nav{
        padding:10px 15px;
    }

    .logo{
        height:55px;
    }

    nav ul{
        gap:10px;
    }

    .input{
        height:55px;
        font-size:1rem;
    }
}
